<div class="well span8 offset2">
  <h1>About Reconcile App!</h1>
  <h5>Seize control of your monthly or weekly expenses - search,
    organize, tag and plot graphs.</h5> <hr/>

  <p>
    Reconcile App is a great way to manage your shared expenses.
  </p>
  <h5>Wait, what are Shared Expenses?</h5>
  <p>
    It's when you spend money on something and people owe you for
    it. Think buying a case of beer or some eggs for your
    roommates. Think the weekly movie outing or rum night with your
    project team. Think gas and car rental money when you go on a
    roadtrip with your buddies. Think the lawn rental for tennis
    nights with your sports pals.
  </p>
  <p>
    All these are examples when you, or someone else pays for
    others. Reconcile App allows you to manage these numerous micro
    transactions and make sure you settle with everyone you owe money
    to and with everyone who owes you some.
  </p>

  <p>
    Reconcile App is
    also <a href="https://github.com/hyfather/reconcileapp" target="_blank">open sourced</a> under GPL.<br>So feel free to
    host your own Reconcile App on your own servers and start tracking your
    expenses!
  </p>

  <hr/>
  <h6>Reconcile App was created by Nikhil Mungel. You can visit his
  website at <a href="http://www.hyfather.com" target="_blank">www.hyfather.com</a>.</h6>
</div>
