<div class="hero-unit">
  <h2 class="logo">Reconcile App</h2>
  <p>Seize control of your monthly or weekly expenses - search,
    organize, tag and manage.</p> <br/>
  <a class="btn btn-large btn-custom-success" href=<%= new_user_registration_path %>>Get Started!</a>
</div>
