<!-- Modal -->
<div id="logExpense" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Log an Expense</h3>
  </div>
  <div class="modal-body">
    Were you paid the amount?
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary">Log Expense!</button>
  </div>
</div>
